@model Category

<form method = "post">
    <h2>Edit Category</h2>
    <hr />

    <label>Category Name</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <label>Display Order</label>
    <input asp-for="Displayorder" />
    <span asp-validation-for="Displayorder" class="text-danger"></span>

    <button type="submit">Update Details</button>
    <a asp-controller="Category" asp-action="Index">Back To List</a>
</form>