@model List<Category>

<h1>Categories Details</h1>
<a asp-controller="Category" asp-action="Create">Create</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>DisplayOrder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in Model.OrderBy(data => data.Displayorder))
        {
            <tr>
                <td>@element.Name</td>
                <td>@element.Displayorder</td>
            </tr>
        }

    </tbody>
</table>